= form_tag(password_resets_path) do 
  .field
    = label_tag 'email', 'Enter your email here', :class => "main"
    = text_field_tag 'email',"", :class => "text"
  .field
    = submit_tag 'Send password reset email', :class => "button"
