<h1> Register </h1>


<p><strong>Register with facebook:</strong></p>

<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
  Facebook
</a>
Don't have facebook? 
<%= link_to 'Register', new_user_path %>
with us for an account!

<div class="clear"></div>
