-if @notifications.length > 0
  - @notifications.each do |notification|
    - if notification[0].item_type == "ResourceComment"
      - read = notification[0].read
      - count = notification.length
      - resource_comment = notification[0].item
      = render :partial => "notifications/resource_comment_index.html.haml", :locals => { :count => count, :resource_comment => resource_comment, :read => read }
      - if read == false
        - notification.each do |x|
          - x.read = true
          - x.save!
    - elsif notification[0].item_type == "Comment"
      - read = notification[0].read
      - count = notification.length
      - post_comment = notification[0].item
      = render :partial => "notifications/post_comment_index.html.haml", :locals => { :count => count, :post_comment => post_comment, :read => read }
      - if read == false
        - notification.each do |x|
          - x.read = true
          - x.save!
    - elsif notification[0].item_type == "Announcement"
      - read = notification[0].read
      - count = notification.length
      - announcement = notification[0].item
      = render :partial => "notifications/announcement_index.html.haml", :locals => { :count => count, :announcement => announcement, :read => read }
      - if read == false
        - notification.each do |x|
          - x.read = true
          - x.save!
- else
  .empty_notifications No notifications here!
