- if count == 1
  = "There is" + count + "new announcement in"
  = link_to class_room.name, class_room_path(class_room)
- else
  = "There are" + count + "new announcements in"
  = link_to class_room.name, class_room_path(class_room)