- if count == 1
  = comment.user.login + " responded to your post in " + comment.post.forum.class_room.name
- else
  = count + " users responded to your post in " + comment.post.forum.class_room.name
