-if @array_of
  - @array_of.each do |notification|
    - if notification[0].item_type == "ResourceComment"
      - count = notification.length
      - resource_comment = notification[0].item
      = render :partial => "notifications/resource_comment_notification", :locals => { :count => count, :resource_comment => resource_comment }
    - elsif notification[0].item_type == "Comment"
      - count = notification.length
      - post_comment = notification[0].item
      = render :partial => "notifications/post_comment_notification", :locals => { :count => count, :post_comment => post_comment }
    - elsif notification[0].item_type == "Announcement"
      - count = notification.length
      - announcement = notification[0].item
      = render :partial => "notifications/announcement_notification", :locals => { :count => count, :announcement => announcement }