.form_page

  %h1 Update your account

  %hr
    
  %div{:style => "float: left; width: 74%; border-left: 1px dashed #ddd"}
    %div{:style => "padding: 10px"}
      = render :partial => "edit_form"
  .clear
