.full_width_page
  .form_page

    %h1 Create an Account

    %p Get ready to join our vibrant learning community!

    %hr
    
    %p Register with Facebook
    
    %a{:href=>"/auth/facebook", :class=>"auth_provider"}
      = image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" 
      
    .clear
    
    %p or

    = render :partial => "form"
