- if defined? style and defined? res
  - file_extension = File.extname(res.file.url).split("?")[0].downcase[1..-1] 
  - icon_class = "file_#{file_extension}"
  - if style == "full_page"
    %div.document-resource
      .inside
        - if res.document.content
          .document_content
            %h1= res.name 
            =res.document.content.html_safe
