- if res.file_type == "upload"
  = render :partial => "shared/resource_embed", :locals => {:res => res, :info => res.get_info, :style => "big_embed", :hidden => false}

- if res.file_type == "document"
  = render :partial => "shared/document_embed", :locals => {:res => res, :info => res.get_info, :style => "full_page"}

- if res.file_type == "link"
  = render :partial => "shared/link_embed", :locals => {:res => res, :info => res.get_info, :style => "full_page"}

