-if style == "full_page"
  %div{:style => "text-align: center"}
    =link_to (image_tag res.file.url(:full_width)), res.file.url
-else
  %div{:style => "text-align: center"}
    .image_embed{:style => "text-align: center; display: inline-block; background: #fafafa; border: #ccc 1px solid; border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0 "}
      %div{:style => "color: #444; overflow: hidden; font-size: .9em; padding: 3px 7px;"}
        %div{:style => "float: left;"}
          #{link_to res.file_file_name, res.file.url} (#{res.file.content_type})
        %div.javascript_show{:style => "float: right;"}
          %a.expand_image_preview{:href => "#"} expand preview
      %div.image_container{:style => "overflow: hidden; border: 1px solid #aaa; margin: -1px;"}
        =image_tag res.file.url(:full_width) 
