<h1>Home#index</h1>
<% if current_user %>
	<%= link_to 'Create a new class!', new_class_room_path %>
<% else %>
	<div> Register to use our site! </div>
<% end %>

<%= link_to 'Browse existing classes', class_rooms_path %>
