%div Register using facebook or create a new account in the top right

= link_to 'Browse existing classes', class_rooms_path

        
=# "Try a new class!"
=# link_to @random_class_room.name, @random_class_room
