= subcomment.content
= " - "
= link_to subcomment.user.login, user_path(subcomment.user)
- if subcomment.user_id == current_user.id
  = link_to "delete", class_room_forum_post_comment_subcomment_path(@class_room, @forum, @post, comment, subcomment), :method => :delete
%br
