= subcomment.content
= " - "
= link_to @user.login, user_path(@user)
- if subcomment.user_id == @user.id
  = link_to "Delete comment", {:controller => :subcomments, :action => 'destroy', :subcomment_id => subcomment.id}, :method => :delete
%br