<h1>Editing resource</h1>

<% if @resource.file_type == "document" %>
  <%= render 'edit_form' %>
<% else %>
  <%= render 'form',
        :locals => { :resource => @resource, :resource_page => @resource_page, :section => @section, 
        :class_room => @class_room, :sections => @sections,
        :style => "small_resource_form" } %>
<% end %>

<%= link_to 'Show', class_room_resource_page_section_resource_path(@class_room, @resource_page, @section, @resource) %>
