= form_for post, :url => class_room_forum_post_path(@class_room, @forum, post) do |f|
  %div
    = label_tag(:content, "Edit Post Content:")
  %div
    = f.text_area :content, :size => "60x12"
  %div
    = f.submit "Save", :class=> "button"
