// Place all the styles related to the class_rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.class_page {
  padding: 0 20px;
  margin: 0 -20px;
  overflow: hidden;

}

$orange: #f37800;
$text-orange: saturate(darken($orange, 10%), 40%);
$light-grey: #ccc;
$dark-grey: #444;
$shadow-color: #999;

$left-bar-padding: 8px;

$left-sidebar-width: 170px;

#left-bar
{
    margin-left: 10px;

    height: 100%;
    width: $left-sidebar-width - 10px;
    float: left;

    overflow: hidden;

    padding-left: 100px;
    margin-left: -90px;

    #class-name-info {
      margin-right: $left-bar-padding;
      padding: 10px;
      padding-left: 0;
      margin-top: 10px;
      border-radius: 5px;
      -moz-border-radius: 5px;
    
    }



    h1 {
        font-weight: bold;
        font-size: 1.1em;
    }

    p.subtitle {
        padding: $left-bar-padding 0;
        padding-top: 5px;
    }

    .enroll-button-container {
      float: left;
      margin-top: -4px;
      margin-right: 5px;
    }

    ul.class-info {


        li {
            text-transform: lowercase;
            padding: $left-bar-padding 0;
            border-top: solid 1px #bbb;
        }
    }

    nav {
        margin-top: 20px;

        li {
            overflow: hidden;
            padding-left: 20px;
            margin-left: -20px;
        }

        li a {
            display: block;
            padding: $left-bar-padding*0.5 $left-bar-padding;
            font-size: 1.2em;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            color: #222;

            margin-left: -10px;

            &:hover {
                color: $orange;
            }
        }

        li a.active {
            margin: $left-bar-padding*0.3 0;

            margin-left: -10px;            

            padding: $left-bar-padding;
      
            border-radius: 3px 0 0 3px;
            -moz-border-radius: 3px 0 0 3px;

            -moz-box-shadow: 0 0 8px $shadow-color;
            -webkit-box-shadow: 0 0 8px $shadow-color;
            box-shadow: 0 0 8px $shadow-color;
 
            $gradient-color: rgb(240,240,240);
            $grad-stop-one: 4%;
            $grad-stop-two: 26%;
        
            background-image: linear-gradient(right , rgb(255,255,255) $grad-stop-one, $gradient-color $grad-stop-two);
            background-image: -o-linear-gradient(right , rgb(255,255,255) $grad-stop-one, $gradient-color $grad-stop-two);
            background-image: -moz-linear-gradient(right , rgb(255,255,255) $grad-stop-one, $gradient-color $grad-stop-two);
            background-image: -webkit-linear-gradient(right , rgb(255,255,255) $grad-stop-one, $gradient-color $grad-stop-two);
            background-image: -ms-linear-gradient(right , rgb(255,255,255) $grad-stop-one, $gradient-color $grad-stop-two);

            background-image: -webkit-gradient(
                linear,
                right bottom,
                left bottom,
                color-stop(0.04, rgb(255,255,255)),
                color-stop(0.26, $gradient-color)
            ); 
        
        }
    }
}

$center-side-margins: 10px;

#center-page {

    min-height: 500px;

    -moz-box-shadow: 0 0 8px $shadow-color;
    -webkit-box-shadow: 0 0 8px $shadow-color;
    box-shadow: 0 0 8px $shadow-color;

    
    background: #fff;
    padding-top: 20px;
    margin-left: $left-sidebar-width;
    padding-left: $center-side-margins;
    padding-right: $center-side-margins;
}
.class_home {
  h1 {
    margin: 20px 40px;
    .learn_to {
      display: block;
      font-size: 5em;
      font-weight: bold;
      text-transform: uppercase;
    }

    .tag_line {
      margin-top: 5px;
      display: block;
      line-height: .9em;
      font-size: 6em;
      font-weight: bold;
      text-transform: uppercase;
      color: $orange;
    }
  }

  .info {
    margin: 10px 40px;
    border-bottom: 1px #ddd solid;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 2em;
    color: #888;
    margin: 10px 40px;
  }
}
