// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.forum_post_container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.delete_link {
  float: right;
}

.forum_post {
  h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
  }

  .bottom {
    color: #777;
    font-size: .9em;
    margin-top: 10px;
  }

  background: #f7f7f7;

  padding: 10px;

  border: #ddd 1px solid;
  moz-border-radius: 3px;
  border-radius: 3px;
}

.forum_post_responses {
  margin-left: 4em;
  margin-right: 2em;
  background: #fafafa;
  border: #eee 1px solid;
  border-top: none;
}

.response {
  h4 {
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-size: .9em;
  }

  .bottom {
    font-size: .8em;
    color: #777;
    margin-top: 10px;
  }
  padding: 10px;
  border-bottom: 1px dashed #ddd;

  padding-left: 50px;

  .sub_comments {
    margin-top: 10px;
    border-left: #aaa 1px solid;
    padding-left: 10px;
  }

}

.post_response_form {
  padding: 10px;
}

.up-down-widget {
  margin-left: -40px;

  float: left;
  display: block;

  text-align: center;

  border-radius: 5px;
  -moz-border-radius: 5px;

  border: 1px solid #ccc;

  min-width: 30px;

  .udw-top {
    display: block;
    background: #ddd;

    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;

    color: #777;
    font-weight: bold;

    &:hover {
      text-decoration: none;
      background: #eee;
    }
  }

  .udw-middle {
    display: block;
    background: #f8f8f8;
    padding: 1px;
    border: 1px solid #ddd;
  }

  .udw-bottom {
    display: block;
    background: #ddd;
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    color: #777;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      background: #eee;
    }
  }
}
