// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.forum_post_container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.delete_link {
  float: right;
}

.new_comment textarea{
  font-family: "Helvetica", "Arial", sans-serif;
}

.forum_post {
  h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
  }

  .bottom {
    color: #777;
    font-size: .9em;
    margin-top: 10px;
  }

  background: #fafafa;

  padding: 10px;

  border: #e5e5e5 1px solid;
  moz-border-radius: 3px;
  border-radius: 3px;
}

.forum_post_responses {
  margin-left: 4em;
  margin-right: 2em;
  background: #fdfdfd;
  border: #eee 1px solid;
  border-top: none;
}

.response {
  h4 {
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    line-height: 1.2em;
  }

  .bottom {
    font-size: .8em;
    color: #777;
    margin-top: 10px;
  }
  padding: 10px;
  border-bottom: 1px dashed #ddd;

  padding-left: 50px;

  .edit_comment {
    display: none;
  }

  .sub_comments {

    border-top: #ddd 1px solid;

    margin-top: 10px;
    font-size: .9em;
    

    .title {
      padding: 5px 10px;
      background: #fafafa;
      border-bottom: 1px solid #ddd;
    }

    .subcomment {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #eee;
      padding: 4px 10px;
      background: #fafafa;

      line-height: 1.5em;
      color: #222;
    
      small {
        font-size: .9em;
        color: #555;
      }

      &:first-child {
        border-top: none;
      }
    }

    form {
      background: #fafafa;
      padding: 5px 10px;
      border-top: #fff 1px solid;
      border-bottom: #eee 1px solid;
    }

    textarea {
      font-family: "Helvetica", "Arial", sans-serif;
   
      border: #ddd 1px solid;

      width: 300px;

      &.inactive {
        color: #777;
      }
    }
  }

}

.post_response_form {
  padding: 10px;

  textarea {
    width: 98%;
  }
}
.response .up-down-widget {
  margin-left: -40px;

  float: left;
}

.up-down-widget {
  display: block;

  text-align: center;

  border-radius: 5px;
  -moz-border-radius: 5px;

  min-width: 30px;

  .udw-top {
    display: block;
    background: #ddd;

    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;

    color: #777;
    font-weight: bold;

    &:hover {
      text-decoration: none;
      background: #eee;
    }
    &.active {
      background: #f37800;
      color: #fff;
    }
  }

  .udw-middle {
    display: block;
    background: #f8f8f8;
    padding: 1px;
    border: 2px solid #ddd;
    border-style: none solid;
  }

  .udw-bottom {
    display: block;
    background: #ddd;
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    color: #777;
    font-weight: bold;
    
    &:hover {
      text-decoration: none;
      background: #eee;
    }
    &.active {
      background: #f37800;
      color: #fff;
    }
  }
}

.new_post_container {
  border: 1px solid #ddd;
  border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 10px;

  margin-top: 10px;

  form {
    border-top: #ddd 1px solid;
    margin-top: 10px;
  }

  label {
    font-weight: bold;
    display: block;
    margin-top: 8px;
    margin-bottom: 5px;
  }

  textarea {
    width: 98%;
    height: 80px;
    font-family: "Helvetica", "Arial", sans-serif
  }

}

