// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_home {
  .main_page {
    border: 1px solid #aaa;
    border-top-style: none;
    padding: 10px;
    background: #fff;
    min-height: 500px;
    margin-left: 170px;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;

    $shadow-color: #999;

    -moz-box-shadow: 0 0 8px $shadow-color;
    -webkit-box-shadow: 0 0 8px $shadow-color;
    box-shadow: 0 0 8px $shadow-color;
 
  
  }

}

.center_page {
  margin-right: 260px;
  background: #fff;

}

.left_column {

}

.right_column {
  float: right;
  width: 240px;

  margin-right: 10px;
 
  background: #fff;

  .forum_post_container {
    font-size: .9em;
    margin: 10px;

    .bottom {
      border-top: 1px dashed #ddd;
      padding-top: 3px;
      margin-top: 5px;
    }
  }

  h3 {
    font-weight: bold;
    margin: 10px;
  }

  h4 {
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  border-left: 1px solid #eee;

}
