.admin_edit {

  h2 {
    font-weight: bold;
    margin-bottom: 10px;
  }

  padding: 10px;
  border: 1px solid #fcc;

  border-radius: 3px;
  -moz-border-radius: 3px;
}

.materials_section {
  margin: 10px 0;
  h3 {
    padding: 10px;
    background: #eee;
    font-weight: bold;
    border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #ddd;

    .delete_section_link {
      font-size: .9em;
      font-weight: normal;
      float: right;
    }
  }

  ul {
    margin-left: 20px;
    margin-right: 10px;
 
    border: 1px solid #ddd;
    
    border-top: none;

    li {
      border-bottom: 1px solid #ddd;
      padding: 10px;

      .resource_list_name {
      }

      .resource_list_info {
        margin-top: 5px;
        font-size: .9em;
        color: #444;
      }

      .resource_list_timestamp {
        font-size: .8em;
        float: right;
        color: #444;
      }
    }
  }
}


.add_new_section {
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #eee;
}
