.notifications_page {
  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }

  .notification {
    border-top: 1px solid #eee;
    padding: 5px;
 
    &.unread {
      border-left: 2px solid #f37800;
    }

    &:last-child {
      border-bottom: 1px solid #eee;
    }
  }
}

.notifications_window {
  width: 250px;
  background-color: #fcfcfc;
  border: 1px solid #777;
  border-top: none;
  position: absolute;
  right: 0px;

  color: #000;

  border-radius: 3px 0 3px 3px;
  -moz-border-radius: 3px 0 3px 3px;

  box-shadow: 0 0 8px rgba(0,0,0,.3); 
  -moz-box-shadow: 0 0 8px rgba(0,0,0,.3); 
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,.3); 

  .empty_notifications {
    display: block;
    padding: 20px 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;

    &:last-child {
      border-bottom: none;
    }
  }

  .see_all a{
    display: block;
    padding: 5px;
    text-align: center;
    &:hover {
      background: #eee;
    }
  }

  .notification {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;

    &:first-child {
      border-top: none;
      a {
        border-radius: 3px 0 0 0;
        -moz-border-radius: 3px 0 0 0;
      }
    }

    &:last-child {
      border-bottom: none;
      a {
        border-radius: 0 0 3px 3px;
        -moz-border-radius: 0 0 3px 3px;
      }
    }

    &.unread a {
      border-left: #F37800 2px solid;
    }

    a {
      color: #444;

      display: block;
      padding: 10px;

      &:hover {
        background: #eee;
        text-decoration: none;
      }
    }
  }
}
