// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.edit_post {
  padding: 10px;
  background: #fafafa;
  border: 1px solid #eee;
  border-style: solid none;

  textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    width: 95%;
    height: 5em;
    margin: 5px 0;
  }
}
