@import "rounded";

.resource-inline-container {
  padding: 3px;
  margin: -3px;
  background: #fff;
  border: 1px solid #f8f8f8;

  position: relative;

  border-radius: 3px;
  -moz-border-radius: 3px;

  &:hover {
    background: #f8f8f8;
  }
}

.javascript_show {
  display: none;
}

.media-resource{
  display: block;
  margin: 10px;

  border: 1px solid #ddd;
  border-style: dashed none;

  padding: 10px 0;
  
  .title {
    padding-bottom: 5px;
  }

  .caption {
    padding-top: 5px;
  }
}

.media-resource.media-image {
}

.media-resource.media-audio {

  .caption {
    margin-top: 3px;
  }

  .title {
    margin-bottom: 3px;
  }
}

.media-resource.media-video {
  
  .title {
    margin-bottom: 10px;
  }

  .caption {
    margin-top: 10px;
  }
  
  iframe {
    margin: 0 auto;
  }
}
