.resource_show_page {
  h2 {
    font-size: 1.2em;
  }

  .info {
    color: #444;
    margin-top: 10px;
    padding: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  .actions {
    float:right;
  }
}
