<p><strong>Login through facebook:</strong></p>

<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
</a>
<%= link_to 'Login', new_user_session_path %>